@charset "utf-8";


#Top{
	margin: 2px auto ;
    max-width: 603px; max-height: 280px;
   }
#Table{
	color: #000080;
    font-size: 110%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
	border:inset #0000FF;
    border-top-left-radius: 100% 30px ;
	border-bottom-right-radius: 100% 35px;
	margin: 20px auto;
    max-width: 800px;
	background-color: rgba(105, 105, 105, 0.5);
}
img {
	max-width: 100%;
	max-height: auto;
}
#XML{
	height: 40px;
	color: #000080;
    text-align: center;
	border:inset #0000FF;border:inset  blueviolet;
	border-radius: 15px 15px 15px 15px/5px ;
	background-color: rgba(105, 105, 105, 0.3);
}
#Finish{
	max-height: 200px;
	max-width: 800px;
	margin:5px auto;
	text-align: center;
}