@charset "utf-8";
/* CSS Document */

Tabl{
	color: #00FF6C;
    border-top-left-radius: 100% 5px ;
	border-bottom-right-radius: 100% 40px;
	background-color:black;
}
Msg{
	display: block;
	color: #00FF6C;
    font-size: 100%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
	margin: 20px auto;
	background-color:black;
}
Mail{
	display: block;
	color: #05A00D;
    font-size: 115%;
    text-align: center;
	background-color:black;
}
Adr{
	display: block;
	color: #BAC400;
    font-size: 115%;
    font-family:Helvetica;
    text-align: center;
	margin: 20px auto;
	background-color:black;
}